
.seccionCategorias{
    width: 100%;
    min-height: 79vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 2em;
}

.seccionFiltros {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
}

.filtroTipos, .filtroOrden, .filtroEstado {
    width: 10%;
    height: 1.5em;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: .2em;
}

.filtroTipos:focus, .filtroOrden:focus, .filtroEstado:focus {
    outline: none;
    border: none;
}

.contenidoPrincipal {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.categoriaContainer{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.categoriaProductosContainer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloCategoria {
    font-size: 1.5em;
    font-weight: 100;
}

.divOpciones {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;
    gap: 2em;
}

.opcionesCrud{
    display: flex;
    width: 3em;
    justify-content: space-between;
    align-items: center;
}

.opcionCrear, .opcionEditar, .opcionEliminar, .btnVerProductos{
    color: var(--color-botones);
    font-size: 1em;
    outline: none;
    cursor: pointer;
}

.opcionEditar {
    color: var(--color-botones);
}

.opcionEliminar{
    color: orangered;
}

.btnVerProductos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6em;
    font-size: .9em;
    color: var(--color-botones);
    background-color: var(--color-fondo);
    cursor: pointer;
    text-decoration:none;
    outline: none;
}

.iconoFlecha{
    height: 100%;
}

.productosContainer{
    width: 100%;
    min-height: 230px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5em;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 230px;
    border-radius: .5em; /* Bordes redondeados para el producto */
    border: 2px solid rgba(0,0,0,.1);
    background-color: white;
    cursor: pointer;
}

.product .imageDiv {
    height: 60%;
    width: 60%;
}

.product .imageDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
}

.product .name {
    text-align: center;
    padding: 0 .2em;
}

/* Eliminar completamente el estilo de enfoque */
.input-validar:focus {
    outline: none !important; /* Elimina el contorno al enfocar */
}